@import "_animecard.scss";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background-image: url(../images/download.png);
}

.title {
    border-bottom: 1px solid gold;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-left: 10rem;
    margin-right: 10rem;
}

.header {
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-decoration: black;
    font-size: 3.5rem;
    padding-top: 2rem;
    color: white;
}

.subheader {
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: black;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: white;
    background-attachment: fixed;
}

.bold {
    color: orange;
    font-size: 4.5rem;
    text-transform: bold;

}

.display-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blanchedalmond;
    margin-left: 15rem;
    margin-right: 15rem;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    border: .3rem solid rgb(126, 95, 18) ;
    border-top: none;
}

.anime-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blanchedalmond;
    margin-left: 15rem;
    margin-right: 15rem;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    border: .3rem solid rgb(126, 95, 18) ;
    border-top: none;
}

.toggle {
    margin-top: 10rem;
    padding-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    background-color: blanchedalmond;
    height: 4vh;
    width: 30vh;
    color: rgb(99, 13, 13);
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2rem;
    border: .5rem solid rgb(70, 23, 23) ;
    border-bottom: .3rem solid rgb(70, 23, 23) ;
    margin-bottom: -.3rem;
}

.name {
    font-size: 5rem;
    text-align: center;
    display: block;
    justify-content: center;
    background-color: blanchedalmond;
    margin-left: 15rem;
    margin-right: 15rem;
    border: .3rem solid rgb(126, 95, 18) ;
    border-bottom: none;
    padding-top: 1.5rem;
    margin-bottom: -2rem;
}

.pressed {
    background-color: rgb(240, 187, 109);
}

.btn:hover{
    background-color: rgb(240, 187, 109);
}

.text {
    color: rgb(85, 83, 83);
}