
html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background-color: black;
}

.title {
    border: brown;
    border-width: 2px;
    border-radius: 1rem;
    display: block;
    text-align: center;
    background-color: blanchedalmond;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-decoration: black;
    font-size: 4rem;
    padding-top: 2rem;
}

.subheader {
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: black;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.anime-grid {
    background-color: blanchedalmond;
    margin-top: 10rem;
    padding: 30rem 25rem;
    margin-left: 3rem;
    margin-right: 3rem;
  
  }

